@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    text-decoration: underline;
    font-family: "Roboto", system-ui;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 50px;
    
}
td{
    padding: 10px;
}